
<div>
  <div class="col-md-8 col-md-offset-2 padding-inside-top-sm padding-inside-bottom-sm">
    <% current_user.liked_photos.each do |photo| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%=photo.caption%></h4>
      </div>
      <div class="panel-body">
        <img class="img-responsive" src="<%= photo.image %>">
      </div>
    </div>
    <% end %>
  </div>
</div>
