<div class="page-header">
  <h3>
    <%= @user.username %>
  </h3>

  <div class="btn-group">
    <a href="/users" class="btn btn-default btn-sm">
      <i class="fa fa-chevron-left"></i>
    </a>
    <% if current_user.id == @user.id %>
      <a href="/users/<%= @user.id %>/edit" class="btn btn-default btn-sm">
        <i class="fa fa-edit fa-fw"></i>
      </a>
      <!-- <a href="/delete_user/<%= @user.id %>" class="btn btn-default btn-sm" rel="nofollow">
        <i class="fa fa-trash-o fa-fw"></i> -->
      </a>
    <% end %>
  </div>
</div>

<% @user.likes.each do |like| %>
<p><%= like %></p>
<% end %>
