
<div class="container">
<div class="row">
  <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><%= @user.username %></h3>
          </div>

          <%# @user.likes.each do |like| %>
            <!-- <div class="panel-body"> -->
              <!-- <li><%# like.photo_id %>"><img src="<%# Photo.find(like.photo_id).image %>" class="img-responsive"/></a> -->
          <%# end %>

          <% Like.where(:user_id => @user.id).each do |like| %>
            <div class="panel-body">
              <td> <img class="img-responsive" src="<%= Photo.find(like.photo_id).image %>"</td>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
