<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">

      <div class="panel-heading">All Users</div>
      <ul class="list-group">
        <% @users.each do |user| %>
                
        <li class="list-group-item"><a href="/users/<%= user.id %>"><%= user.username %></a></li>

        <% end %>
      </ul>
    </div>
  </div>
</div>
