<div class="page-header">

</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <div class="col-md-8 col-md-offset-2">
        <% @user.liked_photos.each do |like| %>
        <tr>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">  <td><%= like.caption %></td></h3>
            </div>
            <div class="panel-body">
              <a href="/photos/<%= like.id %>""><img class="img-responsive" src="<%= like.image%>" alt="" /></a>
            </div>
          </div>



        </td>
      </tr>

      <% end %>
    </div>


  </dl>

</div>
</div>
</div>
