<div class="row">

  <% @myLike.each do |like| %>
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-heading"><%= User.find_by( :id => Photo.find_by( :id => Like.find_by( :id => like.photo_id )).user_id ).username %></div>
      <div class="panel-body">
        <div><img src="<%= Photo.find_by( :id => Like.find_by( :id => like.photo_id )).image %>" class="img-responsive" alt="Photo not found"></img></div>
        <div><%= User.find_by( :id => Photo.find_by( :id => Like.find_by( :id => like.photo_id )).user_id ).username %></div>
        <div><%= Photo.find_by( :id => Like.find_by( :id => like.photo_id )).caption %></div>

      </div>
    </div>

  </div>
<% end %>
</div>
