<div class="page-header">
  <h1>
    <%=@user.username%>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Caption</th>
        <th>Image</th>
        <th>User</th>
      </tr>

      <% @user.photos.each do |photo| %>
      <tr>
        <td><%= photo.caption %></td>
        <td><img src="<%= photo.image %>" class="img-responsive"></td>
        <td><%= photo.user_id %></td>

      </tr>
      <% end %>
    </table>
  </div>
</div>