<div class="page-header">
  <h1>
    <%= @user.email %>
  </h1>
</div>
<div class="row panel">

      <% @user.photos.each do |user| %>
<ul>
  <img class="img-responsive" src="<%= user.image %>" alt="" />
</ul>


      <% end %>

</div>
