<div class="page-header">
  <h3><%= @user.username %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">


      <% @user.photos.each do |photo| %>
      <dt></dt>
      <dd><%= photo.caption %></dd>


      <dt></dt>
      <dd><%= photo.image %></dd>


  <!--    <dt></dt>
      <dd><%= @user.username %></dd> -->

      <% end %>
    </dl>

  </div>
</div>
