
<div>
  <div class="col-md-8 col-md-offset-2 padding-inside-top-sm padding-inside-bottom-sm">
    <a class="btn btn-default btn-group-justified" href="/photos/new" role="button">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
  </div>
  <hr>
  <div class="col-md-8 col-md-offset-2 padding-inside-top-sm padding-inside-bottom-sm">
    <% @photos.each do |photo| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%=photo.caption%></h3>
      </div>
      <div class="panel-body">
        <a href="/photos/<%=photo.id%>"><img class="img-responsive" src="<%= photo.image %>"></a>
      </div>
    </div>
    <% end %>
  </div>
</div>
