<div class="page-header">
  <h1>
    Photos
    <a href="/photos/new" class="btn btn-lg btn-success">New Photo</a>
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <a href="/photos/new" class="btn btn-default btn-block">
        <i class="fa fa-plus"></i>
      </a>
    </div>
  </div>

      <hr>

      <% @photos.each do |photo| %>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= photo.user.username %> <small><%= time_ago_in_words(photo.created_at) %> ago </small></h3>
            </div>
            <div class="panel-body">
              <a href="/photos/<%= photo.id %>">
              <img src="<%= photo.image %>" class="img-responsive" alt="Responsive image">
              </a>
              <p>
                  <% if photo.likes.pluck(:user_id).include? current_user.id %>

                    <form action="/delete_like/" method="post">

                      <input type="hidden" name="photo_id" value=photo.id>

                      <input type="hidden" name="user_id" value=current_user.id>

                      <button class="btn btn-link">
                        <i class="fa fa-heart"></i>
                      </button>

                      Test
                      likes
                      this
                    </form>


                  </a>
                  <% else %>

                  <p>
                    <form action="/create_like" method="post">
                      <!-- Hidden input for authenticity token to protect from forgery -->
                      <input name="authenticity_token" type="hidden" value="HWWu/qL6HbpTCgsBiZ42+2MdOvYMWMpEOntG9yX3lBFr9CEWVACoVcbzmgw22QE9vTs0hR9tBchntPJxTPUsJQ==">

                      <input type="hidden" name="photo_id" value="44">

                      <input type="hidden" name="user_id" value="1">

                      <button class="btn btn-link">
                        <i class="fa fa-heart-o"></i>
                      </button>

                      Test
                      likes
                      this
                    </form>
                          </p>








                  <a href="/likes/" class="btn btn-link">
                    <i class="fa fa-heart-o"></i>
                  </a>
                  <% end %>
                  asdaf and alice
                  like
                  this
              </p>



            </div>
          </div>
        </div>
      </div>
      <% end %>

</div>
